body {
    padding: 10px 0 0 0;
    margin: 0;
    overflow-y: scroll;
}

#duration {
    padding-top: 0px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.test-data a {
    display: block;
}

.preloadicon {
    position: absolute;
    top: -20px;
    left: -20px;
}

.col-sm-6.smallpad {
    padding: 5px;
}

.jumbotron .block h1 {
    font-size: 40px;
}

tr:hover {
    border-right: 5px solid black;
}

tr.A {
    background-color: #d5d6ea;
}

tr.B {
    background-color: #f6f6eb;
}

tr.C {
    background-color: #d7ecd9;
}

tr.D {
    background-color: #f5d5cb;
}

tr.E {
    background-color: #9dabdd;
}

tr.F {
    background-color: #f3ddf2;
}

tr.G {
    background-color: #abdee6;
}